

{% extends 'authroot.html' %}
{% load static %}
{% block content %}
    <div class="register-sidebar bg-white d-flex flex-column justify-content-between">
        <h2 class="font-weight-bold mb-4 text-center text-md-left">Join Today</h2>
        <form action="" id="form_register" method="POST">
        {% csrf_token %} 
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="radio_container mr-3">Professional
                        <input type="radio" checked="checked" name="professional" value="1">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio_container">Or not
                        <input type="radio" name="professional" value="0">
                        <span class="checkmark"></span>
                    </label>    
                </div>                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">First name</label>
                    <input type="text" class="form-control required" name="firstname" placeholder="Ex.David">
                </div>
                <div class="form-group col-md-6">
                    <label for="">Last name</label>
                    <input type="text" class="form-control required" name="lastname" placeholder="Ex.Well">
                </div>
            </div>
           
           
            <div class="form-group form_warp_email form_warp ">
                <label for="">Email</label> 
                <input id="" class="form-control required" name="email" type="email" placeholder="yourmail@mail.com">
               
            </div>
            <div class="form-group form_warp_phone form_warp">
                <label for="">Full address(street)</label> 
                <input class="form-control required" name="address" type="text" maxlength="80" placeholder="Blk 293D Bukit Batok Street 21">                
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">City</label>
                    <input type="text" class="form-control required" maxlength="50" name="city" placeholder="London">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Postal code</label>
                    <input type="text" class="form-control required" maxlength="7" name="zipcode" placeholder="12654">
                </div>
            </div>
            <div class="form-group form_warp_phone form_warp">
                <label for="">Company Name</label> 
                <input class="form-control required" name="company" type="text" maxlength="50" placeholder="company name">                
            </div>
           
            <div class="form-row">
                <div class="form-group col-md-6">
                   <label for="">Company Tel</label> 
                    <input id="phone" class="form-control required" name="phone" maxlength="20" type="tel" placeholder="1231321234">  
                </div>
                <div class="form-group col-md-6">
                    <label for="">Company Tel Fix</label> 
                    <input class="form-control required" name="tel_fix" type="text" maxlength="50" placeholder="">     
                </div>
            </div>
            <div class="form-group form_warp_phone form_warp">
                <label for="">N° Siret</label> 
                <input class="form-control required" name="siret" type="text" maxlength="50" placeholder="">                
            </div>

            <div class="form-group">
                <p class="alert_email alert_txt">Email already registered. Please login</p>
                <p class="alert_phone alert_txt">Phone number already registered. Please login</p>
                <p class="alert_both alert_txt">Invalid data.Please try again.</p>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Password <small>(8 or more
                            characters)</small></label>
                    <input type="password" class="form-control required" name="password1" placeholder="Choose your password"
                        aria-describedby="passwordHelpBlock">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Confirm password</label>
                    <input type="password" class="form-control required"  name="password2"  placeholder="Re-enter password"
                        aria-describedby="passwordHelpBlock">
                </div>
            </div>
            <div class="form-group">
                <span>You agree to the  <a href="#">terms of use</a>, <a href="#">privacy
                        policies</a> and
                    <a href="#">cookies policy</a>.</span>
            </div>
            <button type="button" class="btn btn-primary btn-block font-weight-bold btn_register"> Agree & Join
            </button>      
            <input type="hidden" name="which" value="email">     
            <input type="hidden" name="phoneCode" value="">     
        </form>
        <div class="text-center text-md-left mt-3">
            <span>Already on have an account? <a href="{% url 'account:login' %}">Sign in</a></span>
        </div>
    </div>   
    <script>
        var phoneCode = 'us';
        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
        function isNumber(phone) {
            var regex = /^([0-9])/;
            return regex.test(phone);
        }
        function init()
        {            
            
            $.ajax({
                url: "{% url 'account:get_phoneCode' %}",
                method: 'get', 
                type: 'json',     
                success: function (response) {       
                    phoneCode = response.results;  
                    var input = document.querySelector("#phone");
                    window.intlTelInput(input, {                    
                    formatOnDisplay: false,                   
                    preferredCountries: [phoneCode],                    
                });                  
                }
            });
            
        }
        
        $(document).ready(function(){    
                         
            init();
            $(document).on('click','input[name="email"]',function(){
                $(".alert_txt").css("display","none");
            });
            $(document).on('click','.alertborder',function(){                
                $(this).removeClass('alertborder');
            });
            $(document).on('click','.btn_register',function()
            {  
                var checkvalid = true;       
                $(".required").each(function(){
                    if($(this).val() == "")
                    {                        
                        $(this).addClass('alertborder');
                        checkvalid = false;
                    }
                });
               
                var is_email = isEmail($('input[name="email"]').val());
                var is_phone = isNumber($('input[name="phone"]').val());
                
                
                if($('input[name="phone"]').val().length < 9 || $('input[name="phone"]').val().length > 14)
                {
                    $('input[name="phone"]').addClass("alertborder");
                    return false;
                }
                else{
                    
                    var phoneCode = $(".iti__selected-flag").attr("title").split("+")[1];
                    $('input[name="phoneCode"]').val(phoneCode);
                    
                }
                   
                
                var password1 = $('input[name="password1"]').val();
                var password2 = $('input[name="password2"]').val();       
               
                if(password1 != password2)
                {                    
                    $(".alert_passmatch").css('display','block');
                    return false;
                }
                else
                {
                    if(password1.length < 8)
                    {
                        alert("The password must be 8 or more characters.");
                        return false;
                    }
                    else
                    {
                        if(password1.match(/^[0-9]+$/))
                        {
                            alert("The password must be characters and numbers");  
                            return false;   
                        }
                    }
                }
               
                
                if(checkvalid)
                {                 
                   
                    var data = $('#form_register').serialize();
                    $("#loading").css("display","flex");
                    $.ajax({
                        url: "{% url 'account:check_register' %}",
                        method: 'POST', 
                        type: 'json',
                        data: data,           
                        success: function (response) {                            
                            $("#loading").css("display","none");
                            if(!response.results)
                            {
                                swal({
                                    title: "Something wrong!",  
                                    text: "Please try again.",                                               
                                    type: "error"
                                }).then(function() {
                                    location.reload();
                                });
                            }
                            var data = response.results;
                            if(data.is_phone == '1' || data.is_email == '1')
                            {
                                if(data.is_phone == '1')
                                {
                                    $(".alert_phone").css('display','block');
                                }
                                if(data.is_email == '1')
                                {
                                    $(".alert_email").css('display','block');
                                }
                            }
                            else
                            {
                                if(!data)
                                {
                                    swal({
                                        title: "Something wrong!",  
                                        text: "Please try again.",                                               
                                        type: "error"
                                    }).then(function() {
                                        
                                    });
                                }
                                else
                                {
                                    swal({
                                        title: "Successfully registered!",  
                                        text: "",                                               
                                        type: "success"
                                    }).then(function() {
                                        var cur_url = window.location.href.replace('register', 'home');                       
                                        window.location.replace(cur_url);
                                    });
                                }                                
                            }
                        },
                        error: function(response){
                            $("#loading").css("display","none");
                        }
                    });
                }
                else
                {
                    return false;
                }
            });
            $(document).on('keyup','.alertborder',function(){
                $(this).removeClass('alertborder');
            });
            $(document).on('keyup','.required',function(){
                $(this).parent().parent().find('p').css('display','none');
            });
            $(document).on('click','.btn_switch_email_phone',function(){
                var data = $(this).data('type');
                $(".form_warp").removeClass("d-none");
                $(".form_warp_"+data).addClass("d-none");
                if(data=="email")
                {
                    $('input[name="which"]').val('phone');
                    $('input[name="email"]').val('');
                }
                else if(data=="phone")
                {
                    $('input[name="which"]').val('email');
                    $('input[name="phone"]').val('');
                }
            });
            
            $('input[name=professional]').change(function(){
                var value = $('input[name=professional]:checked').val();
                if(value == "1")
                {
                    $("input[name='company']").addClass("required");
                    $("input[name='tel_fix']").addClass("required");
                    $("input[name='siret']").addClass("required");
                }
                else
                {
                    $("input[name='company']").removeClass("required");
                    $("input[name='tel_fix']").removeClass("required");
                    $("input[name='siret']").removeClass("required");
                }
            });
        });
    </script>
{% endblock %}