{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    {% block head %}
    <title>Home | My Domain</title>
    {% endblock %}
    
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>This is temrs and condition page.</h3>
                        </div>                              
                    </div>                       
                </div>
            </div>
        </div>
    </main>

    
    

{% endblock %}