{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    {% block head %}
    <title>Data | My Domain</title>
    {% endblock %}
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        
                        <div class="col-lg-12 col-md-12 no-pd">
                            <div class="main-ws-sec">
                                <div class="">
                                    <label class="mr-3">Data Results</label>
                                    <a href="{% url 'contract:insert' %}">
                                        <i class="far fa-plus-square"></i>
                                    </a>
                                </div>
                                <div class="mt-2">
                                    <table id="data_result" class="data_result table">
                                        <thead>
                                            <tr>
                                                <td style="width:20px;" align="center">
                                                    No
                                                </td>
                                                <td align="center">
                                                    Delivery Proposal Number
                                                </td>
                                                <td align="center">
                                                    Address
                                                </td>
                                                <td align="center">
                                                    City
                                                </td>
                                                <td align="center">
                                                    Date
                                                </td>
                                                <td align="center">
                                                    Volume
                                                </td>
                                                <td align="center">
                                                    Action
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody class="data_result_row">
                                            
                                        </tbody>
                                    </table>
                                </div>
                               
                            </div>                            
                        </div>
                         
                    </div>                       
                </div>
            </div>
        </div>
    </main>

    <script>
        function get_contract()
        {
            $("#loading").css("display","flex");
            $.ajax({                
                url:"/contract/get_contract",
                type: 'get',
                dataType: 'json',                

                success: function(result){                    
                    $("#loading").css("display","none");
                    var data = result.results;
                    console.log(data);
                    $(".data_result_row").html("");
                    if(data.length > 0)
                    {
                        for (let index = 0; index < data.length; index++) {
                            
                            var html = `
                                <tr>
                                    <td>${index+1}</td>
                                    <td>${data[index].c_num}</td>
                                    <td>${data[index].address}</td>
                                    <td>${data[index].city}</td>
                                    <td>${data[index].date}</td>
                                    <td>${data[index].volume}</td>
                                    <td>`;
                                    if(data[index].me == "0")
                                    {
                                        html +=`
                                            <button data-id="${data[index].id}" class="btn_accept btn_common_blue">Accept</button>
                                        `;
                                    }
                                                                               
                            html +=`</td>
                                </tr>
                            `;

                            $(".data_result_row").append(html);
                        }
                        
                    }  
                    $('#data_result').DataTable();     
                }
            });
        }
        $(document).ready(function(){
            get_contract();
        });
    </script>
    

{% endblock %}