{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    {% block head %}
    <title>Contract | My Domain</title>
    {% endblock %}
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        
                        <div class="col-lg-12 col-md-12 no-pd">
                            <div class="main-ws-sec">
                                <div class="">
                                    
                                    <a href="{% url 'contract:dashboard' %}" class="mr-3">
                                        <i class="far fa-hand-point-left"></i>
                                    </a>
                                    <label>Insert Contract</label>
                                </div>
                               <div class="new_data_form_wrap">
                                   <form action="" class="new_contract_form" method="post">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <label for="">User name</label>
                                            <input type="text" name="name" value="{{ user.first_name }} {{ user.last_name }}" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Transport</label>                                            
                                            <select name="transport" class="form-control">
                                                <option value="">--- Select transport ---</option>
                                            </select>
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Departure Address</label>
                                            <input type="text" name="d_address" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Departure City</label>
                                            <input type="text" name="d_city" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Departure Postal Code</label>
                                            <input type="text" name="d_zipcode" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Departure Time and Date</label>
                                            <input type="text" name="d_date" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Destination Address</label>
                                            <input type="text" name="e_address" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Destination City</label>
                                            <input type="text" name="e_city" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Destination Postal Code</label>
                                            <input type="text" name="e_zipcode" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Destination Time and Date</label>
                                            <input type="text" name="e_date" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Intermediary Address 1</label>
                                            <input type="text" name="i1_address" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Intermediary City 1</label>
                                            <input type="text" name="i1_city" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Intermediary Postal Code 1</label>
                                            <input type="text" name="i1_zipcode" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Intermediary Time and Date 1</label>
                                            <input type="text" name="i1_date" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Intermediary Address 2</label>
                                            <input type="text" name="i2_address" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Intermediary City 2</label>
                                            <input type="text" name="i2_city" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Intermediary Postal Code 2</label>
                                            <input type="text" name="i2_zipcode" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Intermediary Time and Date 2</label>
                                            <input type="text" name="i2_date" class="form-control required">
                                        </div>  
                                        <div class="form-group text-center">
                                            <button type="button" class="btn_store_contract btn_common_blue">
                                                Submit
                                            </button>
                                        </div>
                                   </form>                                   
                                    
                               </div>
                               
                            </div>                            
                        </div>
                         
                    </div>                       
                </div>
            </div>
        </div>
    </main>

    <script>
        function get_transport() {
            $.ajax({                
                url:"/contract/get_transport",
                type: 'get',
                dataType: 'json',

                success: function(response){                    
                    var data = response.results;   
                    if(data.length>0)
                    {
                        for (let index = 0; index < data.length; index++) {
                            var html =`
                                <option value="${data[index].id}">${data[index].name}</option>
                            `;    
                            $("select[name='transport']").append(html);
                        }
                    }
                    
                }
            });
        }
        $(document).ready(function() {
            get_transport();
        });
    </script>
    

{% endblock %}