{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    {% block head %}
    <title>Data | My Domain</title>
    {% endblock %}
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        
                        <div class="col-lg-12 col-md-12 no-pd">
                            <div class="main-ws-sec">
                                <div class="">
                                    
                                    <a href="{% url 'data:dashboard' %}" class="mr-3">
                                        <i class="far fa-hand-point-left"></i>
                                    </a>
                                    <label>Insert Data</label>
                                </div>
                               <div class="new_data_form_wrap">
                                   <form action="" class="new_data_form" method="post">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <label for="">Type of Transport</label>
                                            <input type="text" name="name" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Total volume</label>
                                            <input type="number" name="volume" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Available volume</label>
                                            <input type="text" name="available" value="100%" class="form-control required">
                                        </div>  
                                        <div class="form-group text-center">
                                            <button type="button" class="btn_store_data btn_common_blue">
                                                Submit
                                            </button>
                                        </div>
                                   </form>  
                               </div>
                               
                               <div class="new_data_form_wrap">
                                    <form action="" class="new_delivery_form" method="post">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <label for="">Option name</label>
                                            <input type="text" name="delivery_name" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Option description</label>
                                            <input type="text" name="delivery_description" class="form-control required">
                                        </div>  
                                        <div class="form-group">
                                            <label for="">Option price in EUR</label>
                                            <input type="number" name="delivery_price" value="" class="form-control required">
                                        </div>  
                                        <div class="form-group text-center">
                                            <button type="button" class="btn_store_delivery btn_common_blue">
                                                Submit
                                            </button>
                                        </div>
                                    </form>  
                                </div>
                            </div>                            
                        </div>
                         
                    </div>                       
                </div>
            </div>
        </div>
    </main>

    
    

{% endblock %}