<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Flickerface</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">

</head>

<body style="background:#f1f1f1;padding-top:20px;padding-bottom:20px;">
    <center>
        <table class="" border="0" cellspacing="0" cellpadding="0" width="600"
            style="width:6.25in;background:#ffffff; border-collapse:collapse;padding:20px 20px 20px 20px;">
            <tbody>
                <tr>
                    <td height="30"></td>
                </tr>   
                <tr>
                    <td>
                        <center>
                            <a href="http://flickerface.com" style="display: inline-block;">
                                <img src="http://flickerface.com/static/images/login-logo.png" style="width: 260px;height:50px;" alt="" srcset="">
                            </a>
                        </center>
                    </td>
                </tr>   
                <tr>
                    <td height="10"></td>
                </tr>     
                <tr>
                    <td>
                        <center>
                            <p>
                                <span style="color: black;font-size: 20px;">Welcome to</span>                               
                                <span style="color: rgb(42, 7, 138);font-size: 20px;">flickerface.com</span>                               
                            </p>
                        </center>
                    </td>
                </tr>   
                <tr>
                    <td style="padding: 0px 20px 0px 20px;">
                        <p>
                            <span style="color: black;font-size: 18px;">Verify Code:</span>
                            <span style="color: rgb(42, 7, 138);font-size: 18px;">{{ code }}</span>
                        </p>
                        
                    </td>
                </tr>                
            </tbody>
        </table>


    </center>
</body>

</html>
